html{
    box-sizing: border-box;
}
*,
*::after
*::before{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Rubik","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434343;
}
.container{
    max-width: 1200px;
    margin: auto;
}
/* SITE HEADER */
.site-header-wrapper{
    background-color: #F6F6F9;
    padding: 44px 0 23px;
}
.header-top{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.header-top-left{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-top-right{
    display: flex;
    align-items: center;
}

.search-btn{
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
}
.search-img{
    display: block;
}
.lang-btn{
    padding: 9px 12px 8px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    margin-left: 22px;
}
.lang-btn__img{
    border-radius: 50%;
    transform: translateY(3px);
}

.follow-btn{
    padding: 10px 12px;
    background:linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px; 
    margin-left: 24px;
}
.follow-btn:hover{
    background:linear-gradient(90deg, #37AEE2 15.07%,  #1E96C8 85.96%);
}
.follow-link{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}
.follow-link::before{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 8px;  
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(..//images/telegram-icon.png);
}
.currence-brand{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #285193;
    margin-right: 5px;
}
.currence-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 12px;
    color: #434343;
    margin-right: 15px;
}
/* LOGO */
.logo{
    display: block;
}
.logo-link{
    padding: 3px 8px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 23px;
}
/* SITENAV */
.header-bottom{
    margin-bottom: 18px;
}
.sitenav{
    padding: 22px 25px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    border-radius: 5px;
}
.sitenav-list{
   padding: 0;
   margin: 0;
   list-style-type: none;
   display: flex;
   align-items: center;
}
.sitenav-link{
    text-decoration: none;
    color: #515151;
}
.sitenav-link:hover{
    color: #295093;
}
.sitenav-item{
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    margin-right: 25px;
}
/* MAIN */
main{
    padding: 22px 0 38px;
}


/* COVID */
.covid-stats__container{
    padding: 30px 35px;
    background-color:#F6F6F9 ;
    border-radius: 5px;
}
.covid-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.covid-item__info{
    width: 371px;
    display: flex;
    align-items: center;
}
.covid-info__title{
    margin: 0;
    margin-left: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.covid-item::before{
    content: "";
    display: block;
    width: 43px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: 29px;
}
.covid-item__info::before{
    background-image: url(../images/covid19.png);
}
.covid-item__case{
    display: flex;
    align-items: center;
}
.covid-item__case::before{
    background-image: url(../images/corona-red.png);
}

.covid-item__healed{
    display: flex;
    align-items: center;
}
.covid-item__healed::before{
    background-image: url(../images/cil_smile.png);
}

.covid-item__dead{
    display: flex;
    align-items: center;
}
.covid-item__dead::before{
    background-image: url(../images/stop.png);
}
.covid-info__text-case{
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #DB0000;
}
.covid-info__wrapper{
    margin-left: 17px;
    margin-right: 42px;
}
.covid-info__text-healed{
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #05B135;
}

.covid-info__number{
    font-weight: 500;
    font-size: 25px;
    color: #000000;
}

.covid-info__text-dead{
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}







.site-main{
    display: grid;
    grid-template-columns: repeat(3,386px);
    gap: 20px;
    margin-top: 20px;
}
.site-main h2{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}
.site-main p{
     font-weight: normal;
     font-size: 14px;
     line-height: 17px;
     color: #6B6D97;
}
.notification-reminder{
    display: flex;
    align-items: center;
    padding: 28px 20px 28px 34px;
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
}
.notification-reminder h2{
    margin-right: 270px;
    margin-left: 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.notification-btn{
    background:linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 8px 8px 8px 15px;
}
.notification-btn:hover{
    color: #b64e4e;
    cursor: pointer;
    
}
.news-lastest{
    display: flex;
}
.news-lastest h2{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}
.news-left{
    width: 800px;
}
.news-right-info{
   width: 360px;
   margin-top: 25px;
   background: #F6F6F9;
   border-radius: 5px;
   padding: 20px 20px;
}
.news-right-text{
    border-bottom: 4px solid  #E4E4E4;
}
.news-info{
    display: flex;
    align-items: center;
}
.news-text h2{
    font-weight: 500;
    font-size: 17px;
    margin-left: 19px;
    line-height: 20px;
    color: #202020;
}
.news-text p{
    font-weight: normal;
    font-size: 15px;
    margin-left: 19px;
    line-height: 18px;
    color: #434343;
}
.news-title{
    text-align: left;
    align-items: flex-end;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: -5px;
}
.news-adds{
    display: block;
    margin-top: 60px;
    text-align: center;
}
.calendar{
    margin-left: 35px;
}
.calendar::before{
    content: "";
    display: inline-block;
    background-image: url(../images/Vector\ \(4\).png);
    width: 14px;
    height: 17px;
    margin-right: 5px;
}
.news-btn{
    padding: 10px 32px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background-color:#295093;
    border-radius: 5px;
    margin-left: 300px;
    border-color: #295093;
}
.news-btn:hover{cursor: pointer;
    background-color: #fff;
    color: #295093;
    border-color: #295093;
}
.adds-unit{
    display: flex;
    align-items: center;
    padding: 37px 20px 0 19px;
    background-color:#F6F6F9;
    border-radius: 5px;
    margin-bottom: 38px;
    margin-top: 38px;
}
.appstore-img{
    margin-left: 15px;
}
.site-footer{
    padding: 20px 120px;
    background-color: #295093;
    color: #fff;
    line-height: 17px;
    font-size: 14px;
    font-weight: 500;
}
.footer-top{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 3px solid #133C82;
}
.footer-logo{
  background-color: #133C82;
  padding: 15px 20px;
  margin-right: 198px;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  border-radius: 5px;
}
.footer-telegram{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(38, 31, 129);
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 10px;
}
.footer-telegram:hover{
   opacity: 0.7;
}
.footer-telegram-logo{
    margin-right: 5px;
}
.footer-bottom{
    display: flex;
}
.footer-bottom-text{
    width: 365px;
    padding-right: 15px;
    margin-right: 111px;
}
.footer-list{
    list-style: none;
}
.footer-list a{
    text-decoration: none;
    color: white;
}
.footer-list li{
    margin-bottom: 10px;
} 
.footer-list a:hover{
    text-decoration: underline;
}