html{
    box-sizing: border-box;
}
*,
*::after
*::before{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Rubik","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434343;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

/* SITE HEADER */
.site-header-wrapper{
    background-color: #F6F6F9;
    padding: 44px 0 23px;
}
.header-top{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.header-top-left{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-top-right{
    display: flex;
    align-items: center;
}

.search-btn{
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    border: none;
}
.search-img{
    display: block;
    
    
}
.lang-btn{
    padding: 9px 12px 8px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    margin-left: 22px;
}
.lang-btn__img{
    border-radius: 50%;
    transform: translateY(3px);
}

.follow-btn{
    padding: 10px 12px;
    background:linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px; 
    margin-left: 24px;
}
.follow-btn:hover{
    background:linear-gradient(90deg, #37AEE2 15.07%,  #1E96C8 85.96%);
}
.follow-link{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}
.follow-link::before{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 8px;  
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(..//images/telegram-icon.png);
}
.currence-brand{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #285193;
    margin-right: 5px;
}
.currence-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 12px;
    color: #434343;
    margin-right: 15px;
}
/* LOGO */
.logo{
    display: block;
}
.logo-link{
    padding: 3px 8px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 23px;
}
/* SITENAV */
.header-bottom{
    margin-bottom: 18px;
}
.sitenav{
    padding: 22px 25px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    border-radius: 5px;
}
.sitenav-list{
   padding: 0;
   margin: 0;
   list-style-type: none;
   display: flex;
   align-items: center;
}
.sitenav-link{
    text-decoration: none;
    color: #515151;
}
.sitenav-link:hover,
.sitenav-link:active{
    color: #295093;
}
.active{
    color: #295093;
}
.sitenav-item{
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    margin-right: 25px;
}
/* MAIN */
main{
    padding: 22px 0 38px;
}


/* COVID */

.covid-stats__container{
    padding: 30px 35px;
    background-color:#F6F6F9 ;
    border-radius: 5px;
    margin-bottom: 22px;
}
.covid-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.covid-item__info{
    width: 371px;
    display: flex;
    align-items: center;
}
.covid-info__title{
    margin: 0;
    margin-left: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.covid-item::before{
    content: "";
    display: block;
    width: 43px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: 29px;
}
.covid-item__info::before{
    background-image: url(../images/covid19.png);
}
.covid-item__case{
    display: flex;
    align-items: center;
}
.covid-item__case::before{
    background-image: url(../images/corona-red.png);
}

.covid-item__healed{
    display: flex;
    align-items: center;
}
.covid-item__healed::before{
    background-image: url(../images/cil_smile.png);
}

.covid-item__dead{
    display: flex;
    align-items: center;
}
.covid-item__dead::before{
    background-image: url(../images/stop.png);
}
.covid-info__text-case{
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #DB0000;
}
.covid-info__wrapper{
    margin-left: 17px;
    margin-right: 42px;
}
.covid-info__text-healed{
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #05B135;
}

.covid-info__number{
    font-weight: 500;
    font-size: 25px;
    color: #000000;
}

.covid-info__text-dead{
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

.covid-item__case{
    border-left: 2px solid #EB5569;
}
.covid-item__healed{
    border-left: 2px solid #F4CCD1;
    height: 49px;
}
.covid-item__dead{
    border-left: 2px solid #F4CCD1;
    height: 49px;
}
/* MAIN NEWS */
.main-news{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.main-news__info{
    width: 386px;
    margin-bottom: 18px;
}
.main-news__info-link{
    display: block;
    text-decoration: none;
}
.main-news__info:not(:nth-child(3n)){
    margin-right: 20px;
}
.main-news__info-title{
    margin: 11px 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}
time{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
}

/* FORM-PAGE-STYLES */

.site-main__container{
    display: flex;
    align-items: start;
}
.main-form input{
    display: block;
}
.main-form{
    width: 600px;
    margin-right: auto;
}
.main-form__title{
    margin-top: 0;
    margin-bottom: 12px;
}
.input-text{
    width: 600px;
    padding: 15px;
    background: #F1F1F1;
    opacity: 0.3;
    box-sizing: border-box;
    border: 2px solid #285193;
    border-radius: 5px;
    margin-bottom: 20px;
}
.kod-input{
    width: 157px;
    padding: 15px;
    background: #F1F1F1;
    opacity: 0.3;
    border: 2px solid #285193;
    border-radius: 5px;
    margin-bottom: 20px;
}
textarea{
    width: 600px;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #F1F1F1;
    opacity: 0.3;
    border: 2px solid #285193;
    border-radius: 5px;
}
.form-btn{
    width: 191px;
}
.custom-file-input{
    margin-bottom: 20px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Прикрепить файл';
    display: inline-block;
    background:url(../images/file.svg) no-repeat 150px center;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 15px 51px 15px 15px;
    outline: none;
    opacity: 0.3;
    border: 2px solid #285193;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  
  .card{
      width: 510px;
      padding: 20px;
      background: #FFFFFF;
      border: 2px solid #BCC3CD;
      border-radius: 5px;
      margin-top: 46px;
      position: relative;
      box-sizing: border-box;
  }
  .card::before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -12px;
      left: -12px;
      z-index: -1;
      background: rgba(41, 80, 145, 0.16);
      box-shadow: 0px 8px 9px rgba(57, 57, 57, 0.25);
      border-radius: 5px;
  }
  .card-wrapper{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
  }
  .card-logo__img{
      margin-left: 140px;
  }
  .card-desc{
      margin: 0;
      white-space: nowrap;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #888888;
      margin-top: 30px;
  }
  .card-info{
      text-align: right;
  }
  .card img{
     display: block;
  }

  .store-links{
      margin-top: 18px;
      width: 231px;
      display: flex;
      justify-content: space-between;
      margin-left: auto;
  }
  .brand-follow__btn{
      width: 150px !important;
      margin-right: 0;
      margin-left: auto;
      margin-top: 13px;
      background:linear-gradient(90deg, #2539a7 15.07%, #133683 85.96%);
  }
  .brands-links{
      width:122px;
      margin-top: 15px;
      display: flex;
      margin-left: auto;
      justify-content: space-between;
  }
  .card-email__link{
      margin-top: 21px;
      font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #888888;
        text-decoration: none;
  }
  
/* NOTIFICATION */

.notification-reminder{
    max-width:1200px;
    padding: 25px 20px 25px 34px;
    display: flex;
    align-items: center;
    margin-bottom: 38px;
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
}
.notification-reminder__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: auto;
    color: #000000;
}
.notification-reminder__title::before{
    content: "";
    margin-right: 17px;
    width: 31px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/bell-icon.png);
    transition: ease 0.6s;  
}
.notification-reminder__title:hover::before{
    transform: scale(1.10);
}
.notification-btn{
    padding: 8px;
    padding-left: 15px;
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.notification-btn:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(255, 139, 54, 0.9) 0%,#FE5C28  88.43%);
}

/* LASTEST NEWS */

.news-lastest{
    display: flex;
    align-items: flex-start;
    margin-bottom: 38px;
}
.news-info{
    display: flex;
    align-items: center;  
    margin-bottom: 18px;
    margin-right: 36px;  
}
.news-text{
    margin-left: 19px;
}
.news-title{
    margin: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.news-text__space{
    margin-left: 0;
    border-bottom: 2px solid #EBEBEB;
}
.news-calendar{
    margin-bottom: 14px;
}
.news-info__title{
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}
.news-title__spacing{
    margin-bottom: 35px;
}
.news-info__hashtags{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #28508E;
    margin-top: 25px;
    margin-bottom: 20px;
}
.news-img{
    margin-bottom: 17px;
}
.news-info__text{
    margin: 0;
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #555;
}
.main-news__title{
    margin-top: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.quote{
  color: #000;
}
.news-info__link{
    text-decoration: none;
}
.calendar{
    display: flex;
    align-items: center;
}
.calendar::before{
    content: "";
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/time.png);
    margin-right: 1px;
}
/* NEWS RIGHT */
.popular-news{
    max-width: 386px;
}

.popular-news-right{
    max-width: 386px;
    background: #F6F6F9;
    border-radius: 5px;
    padding: 18px 20px;
    margin-bottom: 20px;
}

.popular-news__info:not(:last-child){
      border-bottom: 4px solid #E4E4E4;
      padding-bottom: 14px;
      margin-bottom: 14px;
}

.popular-news-right__title{
    margin: 0;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
}
.popular-news__info-link{
    text-decoration: none;
    color: #202020;
}
.popular-news__info-title{
    font-weight: normal;
    margin: 0;
    margin-bottom: 11px;
    font-size: 17px;
    line-height: 20px;
}
.news-btn{
    margin-left: 284px;
}
.btn{
    padding: 10px 32px;
    background: #295093;
    border: none; 
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    transition: ease 0.4s;
}

.btn:hover{
    color:#295093 ;
    background-color: #fff;
    box-shadow:inset 0 0 0 1px #295093;
}

/* ADDS UNIT */

.adds-unit{
    max-width: 1200px;
    background: #F6F6F9;
     border-radius: 5px;
     padding: 37px 20px 0;
     display: flex;
     align-items: center;
}
.adds-unit__info{
    width: 530px;
    margin-right: 63px;
}
.adds-unit__info-title{
    margin: 0;
}
.adds-unit__info-text{
    margin: 0;
}
.adds-img{
    display: block;
}
.googleplay{
    margin-right: 20px;
    transition: ease 0.6s;
}
.appstore{
    transition: ease 0.6s;
}
.googleplay:hover{
    transform: scale(1.10);
}
.appstore:hover{
    transform: scale(1.10);
}

/* FOOTER */
.site-footer{
    background-color: #295093;
    padding: 18px 0;
    color: #fff;
}

/* FOOTER TOP */
.footer-top{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #133C82;
    padding-bottom: 18px;
    margin-bottom: 12px;
}


.footer-logo-img{
    display: block;
}
.footer-logo{
    padding: 8px 10px;
    background: #133C82;
    display: inline-block;
    border-radius: 5px;
    margin-right: 198px;
}
.footer-top__text{
    margin: 0;  
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.footer-telegram{
    padding: 10px;
    background: #FFFFFF;
    margin-left: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 5px;  
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
}
.footer-telegram::before{
    content: "";
    margin-right: 8px;
    width: 18px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/telegram-icon-footer.png);
}
.footer-telegram:hover{
    opacity: 0.7;
}
/* FOOTER BOTTOM */

.footer-bottom{
    display: flex;
    align-items: flex-start;
}
.footer-bottom__info{
    width: 365px;
    margin-right: 111px;
}
.footer-bottom__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 115px;
}
.footer-bottom__item{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.footer-bottom__link{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-bottom__link:hover{
    text-decoration:underline;
}



/* MODAL_STYLES */

.modal{
    transform: translateY(-100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}
.modal-dialog{
    width: 100%;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 280px;
}

.modal-card{
    box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
    border-radius: 5px;
   background-color: #fff;
   padding: 46px 63px 32px;
   position: relative;
}
.modal-text{
    margin: 0;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #295093;
}
.modal-btn{
    
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.show-modal{
    display: block;
    transform: translateY(0);
}


window.addEventListener('DOMContentLoaded',()=>{
    let openModal = document.querySelector('.follow-btn')
    let closeModal = document.querySelector('.close-btn')
    openModal.addEventListener('click',()=>{
        document.querySelector('.modal').classList.add('show-modal')
    })
    closeModal.addEventListener('click',()=>{
        document.querySelector('.modal').classList.remove('show-modal')
    })
    
})